{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container">
      <div id="jumboRow" class="row">
        <div class="col-lg-6 text-center">
          <img class="img-fluid hidden-sm-down" src="{% static 'wac/styles/images/temp_landing_laptop.png' %}" />

        </div>
        <div class="col-lg-6">
          <h1 class="display-3">Blame It On Us</h1>
          <p><i>Dad! Why do I have to do the dishes tonight?</i></p>
          <p><i>Tell it to the computer, sweety.</i></p>
          <p class="lead">We're the perfect scapegoat.</p>
          <hr class="my-4">

          <p class="lead">
            <a id="instructionsButton" class="btn btn-secondary btn-lg text-success" role="button" href="#instructions">Learn More</a>
          </p>
        </div>
        </div>
      </div>

    </div> <!-- /Jumbotron -->

    <!-- Pictures and Simple Instructions / Back and Forth -->
    <section id="instructions" class="container">
      <h1 class="text-center mt-4">As easy as...</h1>

      <div id="step1" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
          <img class="img-fluid mt-5 hidden-sm-down" src="{% static 'wac/styles/images/teamclean_copy.png' %}" />
        </div>
        <div class="col-md-4 px-3">
          <h2>1. Build Your Team</h2>
          <p>We at What A Chore believe housework should be team work. Add age and days off for more detail.</p>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div id="step2" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 px-3">
          <h2>2. Enter Chores</h2>
          <p>Designate age limits, typical durations, frequencies and other details to assure each task gets done correctly and timely.</p>
        </div>
        <div class="col-md-4 text-center">
          <img class="img_fluid mt-5 hidden-sm-down" src="{% static 'wac/styles/images/teamclean_copy.png' %}" />
        </div>
        <div class="col-md-2"></div>
      </div>

      <div id="step3" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
          <img class="img_fluid mt-5 hidden-sm-down" src="{% static 'wac/styles/images/teamclean_copy.png' %}" />
        </div>
        <div class="col-md-4 px-3">
          <h2>3. Get to Work</h2>
          <p>Let What A Chore dish out assignments. We'll make sure no one person has to do more than the rest.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section> <!-- /Pictures and Simple Instructions / Back and Forth -->

    <!-- Register Form -->
    <section id="registration" class="register">
      <div class="container">
        <div class="col-sm-10 offset-sm-1 pt-5">
          <h3>Start today</h3>
          <p>Get your family moving</p>
        </div>

        <form action="{% url 'register-user' %}#registration" method="POST" class="col-sm-4 offset-sm-4">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
          <div class="form-group">
            {% csrf_token %}
            {{ field.errors }}{{ form.email }}
            <!-- <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"> -->
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            {{ field.errors }}{{ form.password }}
            <!-- <input type="password" class="form-control" id="passsword" placeholder="Password"> -->
          </div>
           <button type="submit" class="btn btn-secondary">SIGN UP FOR FREE</button>

        </form>

      </div>
    </section> <!-- /Register Form -->

    <div class="modal" id="myModal"></div>
    <!-- <div class="modal" id="passResetModal"></div>
    <div class="modal" id="passResetDoneModal"></div> -->

{% endblock %}
