{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% csrf_token %}
    <!-- Lineup -->
    <section id="lineup">

      <div class="container mt-5 mb-4 text-center">
        <h1 class="mt-4 text-primary"><strong>Your Weekly Lineup</strong></h1>
      </div>

      {% if messages %}
         <div class="container text-center">
           <div class="row">
             <div class="col-sm-8 offset-sm-2">
               {% for message in messages %}
               <div class="alert alert-{{ message.tags }}" role="alert" >
                 <h4>{{ message }}</h4>
               </div>
               {% endfor %}
             </div>
           </div>
         </div>
      {% endif %}

      <div class="container">
        <div class="row card-deck">

          <!-- Monday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Monday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.0 %}
                        <div class="container">
                            <li class="list-group-item">
                                <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                                    <div>
                                      <p class="mb-0">{{ ass.what }}</p>
                                    </div>
                                </a>
                                {% if ass.done is True %}
                                <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                                {% elif ass.done is False %}
                                <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                                {% endif %}
                                </div>
                            </li>
                        </div>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

          <!-- Tuesday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Tuesday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.1 %}
                        <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                        <li class="list-group-item">
                            <div>
                              <p class="mb-0">{{ ass.what }}</p>
                            </div>
                        </a>
                            {% if ass.done is True %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% elif ass.done is False %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

          <!-- Wednesday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Wednesday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.2 %}
                        <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                        <li class="list-group-item">
                            <div>
                              <p class="mb-0">{{ ass.what }}</p>
                            </div>
                        </a>
                            {% if ass.done is True %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% elif ass.done is False %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

          <!-- Thursday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Thursday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.3 %}
                        <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                        <li class="list-group-item">
                            <div>
                              <p class="mb-0">{{ ass.what }}</p>
                            </div>
                        </a>
                            {% if ass.done is True %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% elif ass.done is False %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

      </div>
    </div>
    <div class="container">
      <div class="row card-deck mt-2">

          <!-- Friday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Friday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.4 %}
                        <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                        <li class="list-group-item">
                            <div>
                              <p class="mb-0">{{ ass.what }}</p>
                            </div>
                        </a>
                            {% if ass.done is True %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% elif ass.done is False %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

          <!-- Saturday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Saturday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.5 %}
                        <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                        <li class="list-group-item">
                            <div>
                              <p class="mb-0">{{ ass.what }}</p>
                            </div>
                        </a>
                            {% if ass.done is True %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% elif ass.done is False %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

          <!-- Sunday -->
          <div class="card card-outline-danger p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-primary text-center">
              <h3 class="card-title text-seconary">Sunday</h3>
            </div>
            <div class="card-block text-info">

                {% for person in people %}
                <h6 class="text-primary text-center">{{ person.name }}</h6>
                <ul class="list-group">

                    {% for ass in assignments %}
                        {% if ass.who == person and ass.when == dates.6 %}
                        <a data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "assignment-detail" ass.pk %}')">
                        <li class="list-group-item">
                            <div>
                              <p class="mb-0">{{ ass.what }}</p>
                            </div>
                        </a>
                            {% if ass.done is True %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedYES.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% elif ass.done is False %}
                            <div id="{{ ass.id }}" style="width: 24px; height: 24px; background-image:url({% static 'wac/styles/images/icons/utility/completedNO.png' %});" onclick="assignmentDone({{ ass.id }})" class="myBorder">
                            {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr />
                {% endfor %}

            </div>
          </div>

          <!-- Summary -->
          <div class="card bg-warning card-outline-primary p-0 mb-2 col-xs-12 col-md-3">
            <div class="card-header bg-info text-center">
              <h3 class="card-title text-secondary">Summary</h3>
            </div>
            <div class="card-block bg-warning text-info">

              <table class="table">
                <thead>
                  <tr>
                    <th>Member</th>
                    <th>Chores</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody id="server_response">
                {% include 'wac/assignments_list_sub.html' %}

                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </section> <!-- /Lineup -->

    <div class="modal" id="myModal"></div>

{% endblock %}
