{% load i18n widget_tweaks %}
{% load static %}
<script>
    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}
</script>

<div class="chore-modal modal-dialog modal-lg" role="document">
  <form action="{% url 'chore-detail' chore.pk %}" method="post" id="chore_detail" class="form">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title text-primary"><strong>{{ chore.task }}</strong></h3>
        <button type="button" class="close btn btn-info" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
          <span class="sr-only">Close</span>
        </button>
      </div>

      <div class="modal-body">
        {{ form.media }}
        {% for field in form.visible_fields %}
          {% if field.auto_id == "id_sub_interval" %}
            <fieldset class="form-group hiddenSub">
          {% else %}
            <fieldset class="form-group">
          {% endif %}

          {% if field.auto_id == "id_chore_icon_location" %}
          <label>Chore Icon:</label>
            <div class="container">
              <div class="row">
              {% for radio in form.chore_icon_location %}
              <div class="radio-div">
                <label for="{{ radio.id_for_label }}" style="border: 2px solid #FDF3E7">

                <span class="radio">{{ radio.tag }}</span>
                <img style="width: 60px;" class="m-0 p-0" src="{% static '/wac/styles/images/Icons/red_icons/'|add:radio.choice_label %}" alt="{{ radio.choice_label }}">
                </label>

              </div>
              {% endfor %}
              </div>
            </div>
            </fieldset
          {% else %}

            {{ field.label_tag }}
            {% if field.field.required %}
              <span class="required" style="color: #C63D0F; font-size: 1.5rem;">*</span>
            {% endif %}

            <p class="ml-5 mb-0 p-0 d-inline-block helptext text-warning"><small>{{ field.help_text }}</small></p>
            {{ field|add_class:"form-control" }}
            </fieldset>

          {% endif %}

        {% endfor %}
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-warning float-left mr-auto"

                data-toggle="modal"
                onclick='find_modal("{% url 'chore-delete' chore.pk %}")'>Delete {{ chore.name }}</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-secondary" value="Save">
      </div>
    </div> <!-- /.modal-content -->
  </form>
</div> <!-- /.modal-dialog -->

<script>
function check_field_value(new_val) {
    if (new_val === 'Daily' ||
        new_val === 'Every 2 Days' ||
        new_val === 'Every 3 Days') {
            // Hide id_subinterval
            //$('.hiddenSub').prop('disabled', true);
            $('.hiddenSub').slideUp();
    } else {
            // Show id_subinterval
            //$('.hiddenSub').prop('disabled', false);
            $('.hiddenSub').slideDown();
    }
}


$(document).ready(function() {
    let jenk = $('.hideController option:selected').val();
    check_field_value(jenk);

    $('.hideController').on('change', function(e) {
        check_field_value(e.currentTarget.value);
    });
})
</script>
