{% load i18n widget_tweaks %}
<div class="modal-dialog modal-lg" role="document">
    <form action="{% url 'chore-delete' chore.pk %}" method="post" id="chore_delete" class="form">
        {% csrf_token %}

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary"><strong>Delete Confirmation!</strong></h3>
                <button type="button" class="close btn btn-info" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">x</span>
                  <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="modal-body">
                <h3 class="text-info">Are you sure you want to delete "{{ object }}"?</h3>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                <input type="submit" class="btn btn-secondary" value="Yes">
            </div>
        </div>

    </form>
</div>
