{% extends "base.html" %}
{% load static %}

{% block main_content %}

<!-- People Add/Edit -->
<section id="people">
  <div class="container mt-4 text-center">
    <h1 class="mt-4 text-primary"><strong>Your Team</strong></h1>
  </div>

  {% if messages %}
     <div class="container text-center">
       <div class="row">
         <div class="col-sm-8 offset-sm-2">
           {% for message in messages %}
           <div class="alert alert-{{ message.tags }}" role="alert" >
             <h4>{{ message }}</h4>
           </div>
           {% endfor %}
         </div>
       </div>
     </div>
  {% endif %}


  <div class="container">
    <hr />
    <div class="container m-0 p-0">

        <div class="row">
        {% for person in people %}
        <!-- A Card -->
        <div class="card col-12 col-md-3 m-0 p-0">
          <a id="{{person.name}}-link" data-toggle="modal" data-target="#myModal" onclick="find_modal('{% url "person-detail" person.pk %}')">
          {% if person.mugshot %}

          <img src="{{ BASE_DIR }}/media/{{ person.mugshot }}" alt="{{ person.mugshot.url }}" />

          {% else %}

          <img src="{% static 'wac/styles/images/people/No-Current-Image.png' %}" alt="No Current User Image" />

          {% endif %}
          <div class="card-block text-center">
            <h3 class="card-title">{{ person.name }}</h3>
            <hr class="hidden-sm-down" style="margin: 0; padding: 0;" />
            <div class="row hidden-sm-down">
              <div class="col-6 card-text text-center">
                <small><label for="age" class="text-muted">Age</label></small>
                <h6 id="age">{{ person.age }}</h6>
              </div>
              <div class="col-6 card-text text-center">
                <small><label for="daysoff" class="text-muted">Days Off</label></small>
                <h6 id="{{person.name}}-daysoff">{{ person.day_off }}</h6>
              </div>
            </div>
            <hr class="hidden-sm-down" style="margin: 0; padding: 0;" />
            <div class="row hidden-sm-down">
              <div class="col-6 card-text mr-auto">
                <button class="btn btn-danger mt-2" type="button">Email</button>
              </div>

            </div>
          </div>
        </a>
        </div> <!-- /A Card -->
        {% endfor %}
        <!-- Create Person Card -->
        <div id="newPerson" class="card col-12 col-md-3 m-0 p-0">
          <a data-toggle="modal" data-target="#myModal" onclick='find_modal("{% url 'person-create' %}")' >
            <div class="container text-center">
              <div class="imgDiv text-center">
                <img src="{% static 'wac/styles/images/Icons/utility/New.png' %}" alt="Create a worker">
              </div>
              <div class="card-block m-0 p-0">
                <h3 class="card-title text-primary text-center mt-5">Enter a New Worker</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

</section> <!-- /People Add/Edit -->

<div class="modal" id="myModal"></div>

{% endblock %}
