{% load i18n widget_tweaks %}

<div class="modal-dialog modal-lg" role="document">
    <form action="{% url 'person-create' %}" method="post" enctype="multipart/form-data" id="person_create" class="form">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modalt-title text-primary"><strong>Enter New Worker</strong></h3>
                <button type="button" class="close btn btn-info" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form.media }}
                {% for field in form.visible_fields %}
                    <fieldset class="form-group">
                        <label for="">
                            {{ field.label_tag }}
                            {% if field.field.required %}
                                <span class="required" style="color: #C63D0F; font-size: 1.5rem;">*</span>
                            {% endif %}
                        </label>
                        {{ field|attr:"class:form-control" }}
                    </fieldset>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-secondary" value="Save">
            </div>
        </div> <!-- /.modal-content -->
    </form>
</div> <!-- /.modal-dialog -->
