{% load i18n widget_tweaks %}
<script>
    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}
</script>

<div class="modal-dialog modal-lg" role="document">
    <form action="{% url 'person-detail' person.pk %}" method="post" enctype="multipart/form-data" id="person_detail" class="form">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary"><strong>{{ person.name }}</strong></h3>
                <button type="button" class="close btn btn-info" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="modal-body">
                {{ form.media }}
                    {% for field in form.visible_fields %}
                    <fieldset class="form-group">
                        {{ field.errors }}{{ field.label_tag }}
                        {{ field|attr:"class:form-control" }}
                    </fieldset>
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-warning float-left mr-auto"
                        data-toggle="modal"
                        onclick='find_modal("{% url 'person-delete' person.pk %}")'>Delete {{ person.name }}</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-secondary" value="Save" />
            </div>
        </div> <!-- /.modal-content -->
    </form>
</div> <!-- /.modal-dialog -->

<!-- MODAL TO CROP THE IMAGE -->
<div class="modal modalCrop bg-success" id="modalCrop" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-primary">
      <div class="modal-header">
        <h4 class="modal-title text-center">Please crop your image for better formatting.</h4>
        <button type="button" class="close btn btn-secondary" onclick="closeThis()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
        <button type="button" class="btn btn-default" onclick="closeThis()">Nevermind</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
      </div>
    </div>
  </div>
</div>
