{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block main_content %}

<div class="container text-center mt-5">
    <h3 class="text-primary">You're registered!</h3>

    <p>Your first step is to enter your team members.  Let's start with some info about yourself.</p>
    <hr>
</div>
<div class="container">
    <form action="{% url 'person-create' %}" enctype="multipart/form-data" method="post" class="form">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form.visible_fields %}
        <fieldset class="form-group">
            <label class="m-0 p-0" for="">
                {{ field.label_tag }}
                {% if field.field.required %}
                    <span class="required" style="color: #C63D0F; font-size: 1.5rem;">*</span>
                {% endif %}
            </label>
            <p class="ml-5 mb-0 p-0 d-inline-block helptext text-warning"><small>{{ field.help_text }}</small></p>
            {{ field|attr:"class:form-control" }}
        </fieldset>
        {% endfor %}
        <input type="submit" class="btn btn-secondary float-right" value="Save">
        {% comment %}<input type="button" class="btn btn-info float-right" onclick="{% url "home-view" %}" value="Skip for Now">{% endcomment %}
    </form>
</div>

{% endblock %}
