{% load i18n widget_tweaks %}
<div class="modal-dialog modal-sm" role="document">
    <form action="" method="post" class="form">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-primary"><strong>Reset Password</strong></h2>
                <button type="button" class="close btn btn-info" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">x</span>
                  <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="modal-body">
                {% csrf_token %}
                {{ form.media }}
                {% if form.email.errors %}{{ form.email.errors }} {% endif %}

                {% for field in form.visible_fields %}
                    <fieldset class="form-group">
                        <p>Enter your email address and we'll send a link to reset your password.</p>
                        {{ field.errors }}{{ field.label_tag }}
                        {{ field|attr:"class:form-control" }}
                    </fieldset>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-secondary btn-lg" value="Reset password">
            </div>
        </div>
    </form>
</div>
